body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkcyan;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#single-article {
  padding: 2rem 0 0 2rem;
  color: white;
  width: 20rem;
  height: 10rem;
  background-color: rgb(111, 184, 184);
  margin-bottom: 5rem;
}
.cont {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}
